@import "~style/variables";
.navbar-main{
    height: $navbar-height;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    width: 100%;
    border-color:$gray-afp-color;
}
.navbar-main nav {
	padding: 0;
	margin: 0;
}
#navbarSupportedContent {
	height: $navbar-height;
	padding: 0;
	margin: 0;
}
.nav-item a[aria-expanded="true"]{
	background-color: $yellow-afp-color;
}

.navbar-nav .dropdown-menu{
	margin: 0;
	padding: 0;
}
#navbarSupportedContent ul li {
	font-family: "DINPro-Light";
}
.dropdown-menu{
	background-color: $yellow-afp-color;
}

.dropdown-item:hover{
	background-color: $blue-afp-color;
}


